<div class="loading-cell">
    <div class='spinner'>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
        <div class='spinner-blade'></div>
    </div>
    <span class="loading-cell-text">@TextLoading</span>
</div>

@code {

    [Parameter]
    public string TextLoading { get; set; }
}