@inherits LayoutComponentBase

<div class="main">
    <div class="top-header">
        <span class="top-header-text">Ravn Star Wars Registry</span>
    </div>

    <div class="container-fluid">
        @Body

    </div>
</div>
